<div id="main-content" class="flex-grow">
    <div id="gifs-desktop" class="w-full hidden md:flex gap-5">
        @for (gifArray of this.GetGrid(); track $index) {
            <div id="col1" class="flex flex-col gap-5 w-1/4">
                @for (gif of this.GetGrid()[$index]; track $index) {
                    <a [routerLink]="['/view', gif.id]">
                        <div class="bg-fig-1000"><img src="{{this.static + gif.path}}" alt="{{gif.name}}" class="w-full p-1 shadow-2xl"/></div>
                    </a>
                }
            </div>                                                       
        }
    </div>

    <div id="gifs-mobile" class="w-full flex-nowrap flex md:hidden gap-5">
        @for (gifArray of this.GetMobileGrid(); track $index) {
            <div id="col1mob" class="flex flex-col gap-5 w-1/2">
                @for (gif of this.GetMobileGrid()[$index]; track $index) {
                    <a [routerLink]="['/view', gif.id]" class="">
                        <div class="bg-fig-1000"><img src="{{this.static + gif.path}}" alt="{{gif.name}}" class="w-full p-1 shadow-2xl"/></div>
                    </a>
                }
            </div>                                                        
        }
    </div>
</div>
<router-outlet/>

