<app-gif-search></app-gif-search>

<div id="main-content" class="flex-grow bg-pink-500">
    <div id="gifs-desktop" class="w-full hidden md:flex gap-5">
        <div id="col1" class="flex flex-col gap-5 max-w-1/4">
            @for (item of this.GetGrid()[0]; track $index) {
                <a [routerLink]="['/view', item.id]">
                    <div class=""><img src="{{item.path}}" alt="{{item.name}}" class="w-full"/></div>
                </a>
            }
        </div>                                                       
                                                                    
        <div id="col2" class="flex flex-col gap-5 max-w-1/4">                  
            @for (item of this.GetGrid()[1]; track $index) {
                <a [routerLink]="['/view', item.id]">
                    <div class=""><img src="{{item.path}}" alt="{{item.name}}" class="w-full"/></div>
                </a>
            }

        </div>                                                       
                                                                    
        <div id="col3" class="flex flex-col gap-5 max-w-1/4">
            @for (item of this.GetGrid()[2]; track $index) {
                <a [routerLink]="['/view', item.id]">
                    <div class=""><img src="{{item.path}}" alt="{{item.name}}" class="w-full"/></div>
                </a>
            }

        </div>                                                       
                                                                    
        <div id="col4" class="flex flex-col gap-5 max-w-1/4">                 
            @for (item of this.GetGrid()[3]; track $index) {
                <a [routerLink]="['/view', item.id]">
                    <div class=""><img src="{{item.path}}" alt="{{item.name}}" class="w-full"/></div>
                </a>
            }
        </div>
    </div>

    <div id="gifs-mobile" class="w-full flex-nowrap flex md:hidden gap-5">
        <div id="col1mob" class="flex flex-col gap-5 w-1/2">
            @for (item of this.GetGrid()[0]; track $index) {
                <a [routerLink]="['/view', item.id]">
                    <div class=""><img src="{{item.path}}" alt="{{item.name}}" class="w-full"/></div>
                </a>
            }
            @for (item of this.GetGrid()[1]; track $index) {
                <a [routerLink]="['/view', item.id]">
                    <div class=""><img src="{{item.path}}" alt="{{item.name}}" class="w-full"/></div>
                </a>
            }
        </div>                                                        
                                                                        
        <div id="col2mob" class="flex flex-col gap-5 w-1/2">                
            @for (item of this.GetGrid()[2]; track $index) {
                <a [routerLink]="['/view', item.id]">
                    <div class=""><img src="{{item.path}}" alt="{{item.name}}" class="w-full"/></div>
                </a>
            }
            @for (item of this.GetGrid()[3]; track $index) {
                <a [routerLink]="['/view', item.id]">
                    <div class=""><img src="{{item.path}}" alt="{{item.name}}" class="w-full"/></div>
                </a>
            }
        </div>                                                                  
    </div>
</div>
<router-outlet/>

