<app-gif-search></app-gif-search>

<div id="main-content" class="flex-grow bg-pink-500">
    <div id="gifs-desktop" class="w-full hidden md:flex gap-5 ">
        <div id="col1" class="flex flex-col gap-5">
            <div class=""><img src="/devgifs/1.gif" alt="dis" class="w-full"/></div>
                                                                    
            <div class=""><img src="/devgifs/2.gif" alt="dis" class="w-full"/></div>
        </div>                                                       
                                                                    
        <div id="col2" class="flex flex-col gap-5">                  
            <div class=""><img src="/devgifs/5.gif" alt="dis" class="w-full"/></div>
                                                                    
            <div class=""><img src="/devgifs/6.gif" alt="dis" class="w-full"/></div>
        </div>                                                       
                                                                    
        <div id="col3" class="flex flex-col gap-5">                  
            <div class=""><img src="/devgifs/7.gif" alt="dis" class="w-full"/></div>
                                                                    
            <div class=""><img src="/devgifs/8.gif" alt="dis" class="w-full"/></div>
        </div>                                                       
                                                                    
        <div id="col4>" class="flex flex-col gap-5">                 
            <div class=""><img src="/devgifs/9.gif" alt="dis" class="w-full"/></div>
                                                                    
            <div class=""><img src="/devgifs/0.gif" alt="dis" class="w-full"/></div>
                                                                    
            <div class=""><img src="/devgifs/3.gif" alt="dis" class="w-full"/></div>
        </div>
        </div>

        <div id="gifs-mobile" class="w-full flex-nowrap flex md:hidden gap-5">
        <div id="col1mob" class="flex flex-col gap-5 w-1/2">
            <div class=""><img src="/devgifs/1.gif" alt="dis" class="w-full"/></div>
                                                                        
            <div class=""><img src="/devgifs/2.gif" alt="dis" class="w-full"/></div>

            <div class=""><img src="/devgifs/7.gif" alt="dis" class="w-full"/></div>
                                                                        
            <div class=""><img src="/devgifs/8.gif" alt="dis" class="w-full"/></div>
        </div>                                                        
                                                                        
        <div id="col2mob" class="flex flex-col gap-5 w-1/2">                
            <div class=""><img src="/devgifs/5.gif" alt="dis" class="w-full"/></div>
                                                                        
            <div class=""><img src="/devgifs/6.gif" alt="dis" class="w-full"/></div>

            <div class=""><img src="/devgifs/9.gif" alt="dis" class="w-full"/></div>
                                                                        
            <div class=""><img src="/devgifs/0.gif" alt="dis" class="w-full"/></div>
                                                                        
            <div class=""><img src="/devgifs/3.gif" alt="dis" class="w-full"/></div>
        </div>                                                                  
    </div>
</div>

