<div id="upload-form-container" class="flex flex-row h-full w-full items-center p-10">
    <div id="gif-preview-wrapper" class="flex-grow flex justify-center">
        <div id="gif-preview" class="w-4/5 shadow-xl rounded-md border border-gray-300">
            <img [src]="this.previewSrc" alt="preview-image" class="w-full"/>
        </div>
    </div>
    <div id="form-wrapper" class="max-w-lg flex-3 flex justify-center">
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="w-4/5 flex flex-col gap-y-1">
            <div class="flex flex-col">
                <label id="name-label" for="name" class="text-md font-medium text-black-700">Name</label>
                <input id="name-input" name="name" type="text" formControlName="name" 
                class="mt-1 rounded-md border border-gray-300 px-3 py-2 text-sm shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"/>
            </div>

            <div class="flex flex-col">
                <label id="file-label" for="file" class="text-md font-medium text-black-700">File</label>
                <input id="file-input" accept=".gif" name="file" type="file" formControlName="file" (change)="onImagePicked($event)"
                class="mt-1 rounded-md border border-gray-300 px-3 py-2 text-sm shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"/>
            </div>

            <div class="flex flex-col">
                <label id="tags-label" for="tags" class="text-md font-medium text-black-700">Tags</label>
                <input id="tags-input" name="tags" type="text" formControlName="tags"
                class="mt-1 rounded-md border border-gray-300 px-3 py-2 text-sm shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"/>
            </div>

            <div class="mt-4">
                <input type="submit" class="btn" value="Upload" [disabled]="!uploadForm.valid"/>
            </div>
        </form>
    </div>
</div>