<div class="flex flex-col w-full">
    <div id="header" class="flex bg-cyan-500 justify-between p-2">
        <div id="logo" class="flex">
        <a [routerLink]="['/']" class="text-5xl">fiG</a>
        </div>
        <div id="buttons" class="flex gap-2">
            <div id="upload" class="h-full">
                <button [routerLink]="['/upload']" type="button" class="h-full btn"><span>Upload</span></button>
            </div>
            @if (this._authService.IsLoggedIn()) {
                <div id="profile-display" class="h-full">
                    <app-header-profile-display #profile></app-header-profile-display>
                </div>
            } @else {
                <div id="signin" class="h-full">
                    <button type="button" class="h-full btn" (click)="this.Navigate('login')"><span>Sign in</span></button>
                </div>
                <div id="signup" class="h-full">
                    <button type="button" class="h-full btn" (click)="this.Navigate('signup')"><span>Sign up</span></button>
                </div>
            }
        </div>
    </div>
    <app-gif-search></app-gif-search>
</div>